body,html{
    padding: 0;
    margin: 0;
    background: #000;
    height: 100%;
}

#page_wrapper{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#page_wrapper div{
    position: relative;
    z-index: 1;
}

#page_wrapper video{
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 0;
}

#money_fall_vid{
    display: none;
}

#account_info{
    position: fixed; /* or absolute */
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.85); /* Black at 85% opacity */
    text-align: center;
    display: none;
}
#account_info table{
    margin-left: auto;
    margin-right: auto;
}

#header{
    color: white;
    font-size: 4em;
    font-family: Sans-serif;
    text-align: center;
    width: 100%;
    padding-top: 10%;
    text-shadow: 0 0 0.05em #AAA; /*Glow*/
}

#account_balance{
    color: white;
    font-size: 2em;
    font-family: Sans-serif;
    text-align: center;
    width: 100%;
    padding-top: 2em;
}