html,body{
	margin: 0;
	padding: 0;	
	background: #512D6D;
	font-family: arial;
}

html{
	height: 100%;
	
	/*Purple Background Gradient*/	
	background-image: -webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0, #6C3B94),
		color-stop(1, #513D6D)
	);
	background-image: -o-linear-gradient(bottom, #6C3B94 0%, #513D6D 100%);
	background-image: -moz-linear-gradient(bottom, #6C3B94 0%, #513D6D 100%);
	background-image: -webkit-linear-gradient(bottom, #6C3B94 0%, #513D6D 100%);
	background-image: -ms-linear-gradient(bottom, #6C3B94 0%, #513D6D 100%);
	background-image: linear-gradient(to bottom, #6C3B94 0%, #513D6D 100%);
	background-size: 100% 100%;
	background-repeat: no-repeat;
    background-color: #513D6D; /* ending color of gradient */
}

body{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	display:block;
	overflow:auto;
	margin-bottom: 10px;
	
	/*Box Shadow*/
	-webkit-box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.30);
	-moz-box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.30);
	box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.30);
}

#menu_wrapper{
	background: #EAAA00;
	height: 80px;
	border-bottom: 3px solid #9C7100;
}

#menu_wrapper table{
	width: 100%;
	font-weight: bold;
	text-align: center;
	padding: 10px 5px;
}

#menu_wrapper table a{
	color: white;
	text-decoration: none;
}

#menu_wrapper table td a, #menu_wrapper table img{
	cursor: pointer;
	vertical-align: middle;
}
#menu_wrapper table td  a:hover{
	color: #3371F5;	
}

#menu_wrapper #great_dane_logo{
	height: 60px;
}

#page_content_wrapper{
	color: white;
	padding: 10px;
	padding-bottom: 25px;
}

.message{
	display: inline-block;
	border: 2px solid #EAAA00;
	background: #513D6D;
	padding: 5px;
	margin-bottom: 10px;
}
   		
.message:empty{
	display: none;
}

.gold_btn {
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	border: none;
	font-family: Arial;
	color: #ffffff;
	font-size: 16px;
	background: #EAAA00;
	padding: 10px 15px;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
}

.gold_btn img{
	vertical-align: middle;
	margin-right: 5px;
}

.gold_btn:hover {
	background: #ffb803;
	text-decoration: none;
}
